.container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    background-color: var(--color-bg-primary);
  }
  
  .generous {
    position: relative;
    background-color: var(--color-bg-primary);
    overflow: scroll;
  }
  
  .generous::-webkit-scrollbar {
    height: 0.125rem;
    width: 0.125rem;
  }
  
  .generous::-webkit-scrollbar-track {
    background: var(--color-bg-primary);
  }
  
  .generous::-webkit-scrollbar-thumb {
    background: var(--color-bg-primary);
    border-radius: 0.0625rem;
  }
  
  .wheelOne, .wheelTwo, .wheelThree, .wheelFour {
    position: absolute;
  }
  
  .wheelOne {
    top: -44vw;
    left: 0;
  }
  
  .wheelTwo {
    left: 48vw;
    top: 2vw;
  }
  
  .wheelThree {
    left: -44vw;
    top: 52vw;
  }
  
  .wheelFour {
    top: 104vw;
    left: 48vw;
  }

  .logoHolder {
    position: absolute;
    width: 28vw;
    height: 28vw;
    top: 44vw;
    z-index: 1000;
    border-radius: 0 0 14vw 14vw;
    background-color: var(--color-bg-primary);
    overflow: hidden;
  }

  .walletRow {
    position: absolute;
    top: 48vw;
    left: 50vw;
    width: 43vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .walletRow p {
    font-size: 0.8rem;
    width: 32vw;
    text-align: right;
    margin: 0;
    color: var(--color-text-primary);
  }

  .wallet {
    width: 9vw;
    height: 9vw;
    border-radius: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  .donation {
    position: absolute;
    top: 49vw;
    left: 32vw;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-text-primary);
  }

  .donation p {
    font-size: 0.7rem;
    margin: 0;
    color: var(--color-text-primary);
  }

  .sholderRow {
    position: absolute;
    top: 60vw;
    left: 62vw;
    width: 31vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sholder {
    width: 9vw;
    height: 9vw;
    border-radius: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .frenRow {
    position: absolute;
    top: 72vw;
    left: 62vw;
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fren {
    position: absolute;
    left: 24vw;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .frenRow p, .sholderRow p {
    font-size: 0.7rem;
    color: var(--color-text-secondary);
    text-align: right;
    width: 20vw;
    margin: 0;
  }

  .topTitle {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 54vw;
    top:-24vw;
    left: 46vw;
    margin: 0;
    color: var(--color-text-secondary);
  }

  .topTitle h1{
    font-size: 4vw;
    font-weight: 300;
  }
  
  .giveAwayCard {
    position: absolute;
    width: 62vw;
    height: 26vw;
    padding: 1vw 0 1vw 22vw;
    border-radius: 4vw 13vw 13vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-bg-primary);
    font-family: 'Gluten', cursive;
  }

  .getTicket {
    position: absolute;
    top:12vw;
    left: 50vw;
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gluten', cursive;
    cursor: pointer;
  }


.giveAwayRow p {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0 0 0 0.5rem;
}

  .giveAwayRow h1{
    font-size: 0.7rem;
    margin: 0 0 0 0.5rem;
  }

  .giveAwayRow span {
    font-size: 0.7rem;
  }

  .giveAwayRow {
    display: flex;
    width: 42vw;
    height: 6vw;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
  }
  
  .prizeImg {
    width: 15vw;
    height: 15vw;
    border-radius: 3vw;
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    overflow: hidden;
  }

  .prizeName {
    width: 15vw;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 21vw;
    left: 9vw;
    overflow: hidden;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .prizeName p {
    line-height: 1rem;
  }

  .prizeAmount {
    width: 15vw;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 23vw;
    left: 9vw;
    overflow: hidden;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .mainArrowHolder {
    position: absolute;
    width: 55vw;
    height: 55vw;
    top: 16vw;
    left: 16vw;
  }
  
  .arrowHolder {
    position: absolute;
    width: 55vw;
    height: 55vw;
    top: 16vw;
    left: 16vw;
  }
  
  .arrows {
    transform: scaleY(-1) rotate(-5deg);
  }
  .counterArrows {
    transform: scaleY(-1) rotate(145deg);
  }

  .lastArrows {
    transform: rotate(145deg);
  }

  .counterArrowHolder {
    position: absolute;
    width: 55vw;
    height: 55vw;
    top: 16vw;
    left: 16vw;
  }
  
  .winnersCard {
    position: absolute;
    top: -24vw;
    left: 46vw;
    width: 86vw;
    height: 108vw;
    padding-top: 4vw;
    border-radius: 4vw;
    z-index: 1000;
  }

  .winners {
    font-size: 0.8rem;
    padding: 0 0 0 8vw;
    margin: 0;
  }

  .winners li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    width: 48vw;
  }

  .winners h1 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: underline;
  }

  .winners p {
    margin: 0;
  }

  .copyButton {
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-bg-primary);
  }

  .copyText {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80vw;
    left: 60vw;
    width: 16vw;
    height: 10vw;
    border-radius: 5vw;
  }

  .hideWinners {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4vw;
    left: 72vw;
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
    background-color: var(--color-bg-primary);
    cursor: pointer;
  }