html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gluten', cursive;
}

body,
body[data-theme="light"] {
  --color-text-primary: #212121;
  --color-text-secondary: #6a6a6a;
  --color-bg-primary: #f3f8f2;
}

body[data-theme="dark"] {
  --color-text-primary: #fff;
  --color-text-secondary: #dfdfdf;
  --color-bg-primary: #121f24;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
