.container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    height: 100vh;
  align-items: center;
  background-color: var(--color-bg-primary);
  }
  
  .roadmap {
      position: relative;
      background-color: var(--color-bg-primary);
      overflow-y: scroll;
    }
  
    .roadmap::-webkit-scrollbar {
      width: 0.125rem;
    }
    
    .roadmap::-webkit-scrollbar-track {
      background: #666;
    }
    
    .roadmap::-webkit-scrollbar-thumb {
      background: #ff9977;
      border-radius: 0.0625rem;
    }
  
  .phaseHolder {
      position: absolute;
      transform: translate(-50%, -50%);
      width: 9.56vh;
      height: 9.56vh;
      border-radius: 4.78vh;
      background-color: var(--color-bg-primary);
      border: 2px solid aquamarine;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.8rem 0 0.4rem 0;
      justify-content: space-between;
  }
  
  .phaseHolder h2 {
    margin: 0;
    font-family: 'Gluten', cursive;
      font-weight: 600;
      font-size: 0.6rem;
  }

  .phaseHolder h1 {
    margin: 0;
    font-family: 'Gluten', cursive;
      font-weight: 600;
      font-size: 0.8rem;
  }
  
  .dateHolder {
      position: absolute;
      transform: translate(-50%, -50%);
      width: 4.5vh;
      height: 4.5vh;
      border-radius: 2.25vh;
      background-color: var(--color-bg-primary);
      color: var(--color-text-secondary);
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .dateHolder p{
  margin: 0;
  font-family: 'Gluten', cursive;
  font-size: 0.7rem;
  font-weight: 300;
  }
  
  .dateCatcher {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 2.25vh;
    height: 2.25vh;
    border-bottom: 2px solid white;
    z-index: 4;
  }
  
  .wheel1 {
    position: absolute;
    width: 48.94vh;
    height: 24.19vh;
    top: 2.25vh;
    left: 1.69vh;
    border-radius: 0 0 25vh 25vh;
    padding: 2.25vh 6.19vh 6.75vh 0.56vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  
  .wheel1 h3 {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    top: 22.5vh;
    left: 6.75vh;
  }
  
  .wheel1 .task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 14.06vh;
    height: 17.44vh;
    margin-top: -2.25vh;
    padding: 0;
    z-index: 10;
  }
  
  .wheel1 .task h2 {
    margin: 0 0 0.25rem 0 ;
    font-family: 'Gluten', cursive;
    font-size: 0.6rem;
    font-weight: 600;
  }
  
  .wheel1 .task p {
    margin: 0 0.25rem;
    font-family: 'Gluten', cursive;
    line-height: 0.9rem;
    font-size: 0.6rem;
    font-weight: 300;
    color: var(--color-text-primary);
  }
  
  .wheel1 .done {
    display: flex;
    height: 4.5vh;
    width: 13.5vh;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Gluten', cursive;
    font-size: 0.5rem;
    font-weight: 600;
  }
    
  .wheel2 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 24.19vh;
    height: 48.94vh;
    border-radius: 25vh 0 0 25vh;
    padding: 5.63vh 0.56vh 6.19vh 6.75vh;
    top: 24.19vh;
    left: 27.56vh;
  }
  
  .wheel2 h3 {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    top: 3.38vh;
    left: 0;
  }

  .wheel2 .task {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    text-align: right;
    width: 19.69vh;
    height: 12.37vh;
    margin-right: -2.5vh;
    padding: 0;
    z-index: 10;
  }
  
  .wheel2 .task h2 {
    margin: 0 0 0.25rem 0;
    font-family: 'Gluten', cursive;
    font-size: 0.6rem;
    font-weight: 600;
  }
  
  .wheel2 .task p {
    margin: 0;
    font-family: 'Gluten', cursive;
    font-size: 0.6rem;
    line-height: 0.9rem;
    font-weight: 300;
    color: var(--color-text-primary);
  }
  
  .wheel2 .done {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Gluten', cursive;
    font-size: 0.5rem;
    font-weight: 600;
    height: 2.81vh;
    width: 11.25vh;
  }
  
  .wheel3 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 24.19vh;
    height: 48.94vh;
    border-radius: 0 25vh 25vh 0;
    top: 46.69vh;
    left: 3.94vh;
    padding: 8.44vh 6.75vh 3.37vh 0.56vh;
  }
  
  .wheel3 .task {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: left;
    width: 19.69vh;
    height: 12.37vh;
    margin-right: -2.5vh;
    padding: 0;
    z-index: 10;
  }
  
  .wheel3 .task h2 {
    margin: 0 0 0.25rem 0;
    font-family: 'Gluten', cursive;
    font-size: 0.6rem;
    font-weight: 600;
  }
  
  .wheel3 .task p {
    margin: 0;
    font-family: 'Gluten', cursive;
    font-size: 0.6rem;
    line-height: 0.9rem;
    font-weight: 300;
    color: var(--color-text-primary);
  }
  
  
  .wheel3 .done {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Gluten', cursive;
    font-size: 0.5rem;
    font-weight: 600;
    height: 2.81vh;
    width: 11.25vh;
  }

  
.wheel3 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 2.25vh;
  left: 13.5vh;
}

  
  .wheel4 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: space-between;
    width: 48.94vh;
    height: 24.19vh;
    border-radius: 25vh;
    top: 74.25vh;
    left: 5.63vh;
    padding: 6.75vh 0.56vh 6.75vh 6.19vh;
  }
  
  .wheel4 h3 {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    top: 47.25vh;
    right: 6.75vh;
  }

  .loadHolder {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 13.5vh;
    height: 13.5vh;
    top: 11.81vh;
    left: 33.75vh;
  }
  
  .loadHolder h3 {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    top: -3.94vh;
    left: 1.12vh;
  }
  
  .loadHolder p {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 300;
    top: 11.81vh;
    left: -14.06vh;
    width: 28ch;
    text-align: right;
    line-height: 1rem;
    color: var(--color-text-secondary);
  }

  .done p {
    margin: 0;
    font-size: 0.8rem;
  }
  
  .doneAverage p {
    margin: 0.3rem 0 0 0;
    font-size: 0.6rem;
  }
  
  .doneSlider {
    position: relative;
    width: 5.63vh;
    height: 0.125rem;
    border-radius: 0.0625rem;
    background-color: #eee;
  }
  
  .doneSlide {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.125rem;
    border-radius: 0.0625rem;
  }
  
  .doneAverage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gluten', cursive;
    font-weight: 600;
    height: 4.5vh;
    width: 11.25vh;
  }