.container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  height: 100vh;
align-items: center;
}

.roadmap {
    position: relative;
    background-color: #fff;
    overflow-y: scroll;
  }

  .roadmap::-webkit-scrollbar {
    width: 0.125rem;
    margin-top: 1rem;
  }
  
  .roadmap::-webkit-scrollbar-track {
    background: #eee;
  }
  
  .roadmap::-webkit-scrollbar-thumb {
    background: #ff9977;
    border-radius: 0.0625;
    padding-top: 1rem;
  }

.phaseHolder {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 17vw;
    height: 17vw;
    border-radius: 9vw;
    background-color: #fff;
    border: 2px solid aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 0 0.4rem 0;
    justify-content: space-between;
}

.phaseHolder h2 {
  margin: 0;
  font-family: 'Gluten', cursive;
    font-weight: 600;
    font-size: 0.6rem;
}

.dateHolder {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateHolder p{
margin: 0;
font-family: 'Gluten', cursive;
font-size: 0.7rem;
font-weight: 300;
}

.dateCatcher {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4vw;
  height: 4vw;
  border-bottom: 2px solid white;
  z-index: 4;
}

.wheel9 {
  position: absolute;
  width: 87vw;
  height: 43vw;
  left: 3vw;
  border-radius: 0 0 44vw 44vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 4vw 11vw 12vw 1vw;
}

.wheel9 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 40vw;
  left: 12vw;
}

.wheel9 .task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 25vw;
  height: 27vw;
  padding: 0;
  z-index: 10;
}

.wheel9 .task h2 {
  margin: 0 0 0.25rem 0 ;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 600;
}

.wheel9 .task p {
  margin: 0 0.25rem;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 300;
  color: #212121;
}

.wheel9 .done {
  height: 8vw;
  display: flex;
  width: 24vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Gluten', cursive;
  font-size: 0.5rem;
  font-weight: 600;
}
  
.wheel10 {
  position: absolute;
  width: 43vw;
  height: 87vw;
  border-radius: 44vw 0 0 44vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 10vw 1vw 14vw 12vw;
  top: 33vw;
  left: 54vw;
}

.wheel10 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 86vw;
  left: 0vw;
}

.wheel14 {
  position: absolute;
  width: 43vw;
  height: 87vw;
  border-radius: 44vw 0 0 44vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 14vw 1vw 10vw 12vw;
  left: 54vw;
  top: 231vw;
}

.wheel10 .task, .wheel14 .task {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  text-align: right;
  width: 30vw;
  height: 21vw;
  padding: 0;
  z-index: 10;
}

.wheel10 .task h2, .wheel14 .task h2 {
  margin: 0 0 0.25rem 0;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 600;
}

.wheel10 .task p, .wheel14 .task p {
  margin: 0;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 300;
  color: #212121;
}


.wheel10 .done, .wheel14 .done {
  height: 5vw;
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Gluten', cursive;
  font-size: 0.5rem;
  font-weight: 600;
}

.wheel11 {
  position: absolute;
  width: 44vw;
  height: 87vw;
  border-radius: 0 44vw 44vw 0;
  top: 56vw;
  left: 3vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 16vw 12vw 8vw 1vw;
}

.wheel13 {
  position: absolute;
  width: 44vw;
  height: 87vw;
  border-radius: 0 44vw 44vw 0;
  left: 3vw;
  top: 210vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 8vw 12vw 16vw 1vw;
}

.wheel13 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 90vw;
  left: 12vw;
}

.wheel11 .task, .wheel13 .task {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  text-align: left;
  width: 30vw;
  height: 21vw;
  padding: 0;
  z-index: 10;
}

.wheel11 .task h2, .wheel13 .task h2 {
  margin: 0 0 0.25rem 0;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 600;
}

.wheel11 .task p, .wheel13 .task p {
  margin: 0;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 300;
  color: #212121;
}


.wheel11 .done, .whee13 .done {
  height: 5vw;
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Gluten', cursive;
  font-size: 0.5rem;
  font-weight: 600;
}

.wheel12 {
  position: absolute;
  width: 87vw;
  height: 87vw;
  border-radius: 44vw;
  top: 132vw;
  left: 10vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 12vw 1vw 12vw 11vw;
}

.tasksPrime {
  display: flex;
}

.wheel12 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 84vw;
  right: 12vw;
}

.wheel15 {
  position: absolute;
  width: 87vw;
  height: 43vw;
  border-radius: 44vw 44vw 0 0;
  top: 307vw;
  left: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 12vw 11vw 4vw 1vw;
}

.wheel15 .task {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 25vw;
  height: 28vw;
  padding: 0;
  z-index: 10;
}

.wheel12 .task {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 25vw;
  height: 28vw;
  padding: 0;
  z-index: 10;
}

.wheel12 .taskPrime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 25vw;
  height: 28vw;
  padding: 0;
  z-index: 10;
}

.wheel12 .task h2, .wheel15 .task h2 {
  margin: 0.25rem 0 0 0;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 600;
}

.wheel12 .taskPrime h2 {
  margin: 0.25rem 0 0 0 ;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 600;
}


.wheel12 .task p, .wheel12 .taskPrime p, .wheel15 .task p {
  margin: 0.25rem 0 0 0;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 300;
  color: #212121;
}

.wheel12 .done, .wheel15 .done {
  height: 8vw;
  display: flex;
  width: 24vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Gluten', cursive;
  font-size: 0.5rem;
  font-weight: 600;
}

.done p {
  margin: 0;
  font-size: 0.8rem;
}

.doneAverage p {
  margin: 0.3rem 0 0 0;
  font-size: 0.6rem;
}

.doneSlider {
  position: relative;
  width: 10vw;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background-color: #eee;
}

.doneSlide {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background-color: salmon;
}

.doneAverage {
  height: 8vw;
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  justify-content: center;
  font-family: 'Gluten', cursive;
  font-weight: 600;
}

.navSliderFrame {
  position: absolute;
  top: 120vw;
  left: 91vw;
}

.navSliderFrame2 {
  position: absolute;
  top: 295vw;
  left: 3vw;
}
