.container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  height: 100vh;
align-items: center;
background-color: var(--color-bg-primary);
}

.roadmap {
    position: relative;
    overflow-y: scroll;
    background-color: var(--color-bg-primary);
  }

  .roadmap::-webkit-scrollbar {
    width: 0.125rem;
  }
  
  .roadmap::-webkit-scrollbar-track {
    background: #666;
  }
  
  .roadmap::-webkit-scrollbar-thumb {
    background: #ff9977;
    border-radius: 0.0625rem;
  }

.phaseHolder {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 17vw;
    height: 17vw;
    border-radius: 9vw;
    background-color: var(--color-bg-primary);
    border: 2px solid aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 0 0.4rem 0;
    justify-content: space-between;
}

.phaseHolder h2 {
  margin: 0;
  font-family: 'Gluten', cursive;
    font-weight: 600;
    font-size: 0.6rem;
}

.phaseHolder h1 {
  margin: 0;
  font-family: 'Gluten', cursive;
    font-weight: 600;
    font-size: 0.8rem;
}

.dateHolder {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    background-color: var(--color-bg-primary);
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateHolder p{
margin: 0;
font-family: 'Gluten', cursive;
font-size: 0.7rem;
font-weight: 300;
}

.dateCatcher {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4vw;
  height: 4vw;
  border-bottom: 2px solid white;
  z-index: 4;
}

.wheel1 {
  position: absolute;
  width: 87vw;
  height: 43vw;
  top: 4vw;
  left: 3vw;
  border-radius: 0 0 44vw 44vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 4vw 11vw 12vw 1vw;
}

.wheel1 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 40vw;
  left: 12vw;
}

.wheel1 .task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 25vw;
  height: 31vw;
  margin-top: -4vw;
  padding: 0;
  z-index: 10;
}

.wheel1 .task h2 {
  margin: 0 0 0.25rem 0 ;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 600;
}

.wheel1 .task p {
  margin: 0 0.25rem;
  line-height: 0.9rem;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 300;
  color: var(--color-text-primary);
}

.wheel1 .done {
  height: 8vw;
  display: flex;
  width: 24vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Gluten', cursive;
  font-size: 0.5rem;
  font-weight: 600;
}
  
.wheel2 {
  position: absolute;
  width: 44vw;
  height: 87vw;
  border-radius: 44vw 0 0 44vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 10vw 1vw 11vw 12vw;
  top: 43vw;
  left: 49vw;
}

.wheel2 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 6vw;
  left: 0vw;
}

.wheel2 .task {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  text-align: right;
  width: 35vw;
  height: 22vw;
  padding: 0;
  z-index: 10;
  margin-right: -4vw;
}

.wheel2 .task h2 {
  margin: 0 0 0.25rem 0;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 600;
}

.wheel2 .task p {
  margin: 0;
  font-family: 'Gluten', cursive;
  line-height: 0.9rem;
  font-size: 0.6rem;
  font-weight: 300;
  color: var(--color-text-primary);
}

.wheel2 .done {
  height: 5vw;
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Gluten', cursive;
  font-size: 0.5rem;
  font-weight: 600;
}

.wheel3 {
  position: absolute;
  width: 44vw;
  height: 87vw;
  border-radius: 0 44vw 44vw 0;
  top: 83vw;
  left: 7vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 15vw 12vw 6vw 1vw;
}

.wheel3 .task {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  text-align: left;
  width: 35vw;
  margin-left: -4vw;
  height: 22vw;
  padding: 0;
  z-index: 10;
}

.wheel3 .task h2 {
  margin: 0 0 0.25rem 0;
  font-family: 'Gluten', cursive;
  font-size: 0.6rem;
  font-weight: 600;
}

.wheel3 .task p {
  margin: 0;
  font-family: 'Gluten', cursive;
  line-height: 0.9rem;
  font-size: 0.6rem;
  font-weight: 300;
  color: var(--color-text-primary);
}

.wheel3 .done {
  height: 5vw;
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Gluten', cursive;
  font-size: 0.5rem;
  font-weight: 600;
}

.wheel3 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 4vw;
  left: 24vw;
}

.wheel4 {
  position: absolute;
  width: 87vw;
  height: 43vw;
  border-radius: 43vw 43vw 0 0;
  top: 132vw;
  left: 10vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-content: space-between;
  /* border-top: 2px dashed #666; */
}

.wheel4 h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 84vw;
  right: 12vw;
}

.loadHolder {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 24vw;
  height: 24vw;
  top: 21vw;
  left: 60vw;
}

.loadHolder h3 {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: -7vw;
  left: 2vw;
}

.loadHolder p {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 300;
  top: 21vw;
  left: -25vw;
  width: 28ch;
  text-align: right;
  line-height: 1rem;
  color: var(--color-text-secondary);
}

.done p {
  margin: 0;
  font-size: 0.8rem;
}

.doneAverage p {
  margin: 0.3rem 0 0 0;
  font-size: 0.6rem;
}

.doneSlider {
  position: relative;
  width: 10vw;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background-color: #eee;
}

.doneSlide {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.125rem;
  border-radius: 0.0625rem;
}

.doneAverage {
  height: 8vw;
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  justify-content: center;
  font-family: 'Gluten', cursive;
  font-weight: 600;
}