.container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  background-color: var(--color-bg-primary);
}

.landing {
  position: relative;
  background-color: var(--color-bg-primary);
  overflow: scroll;
}

.landing::-webkit-scrollbar {
  height: 0.125rem;
  width: 0.125rem;
}

.landing::-webkit-scrollbar-track {
  background: var(--color-bg-primary);
}

.landing::-webkit-scrollbar-thumb {
  background: var(--color-bg-primary);
  border-radius: 0.0625rem;
}

.wheelOne, .wheelTwo, .wheelThree, .wheelFour {
  position: absolute;
}

.wheelOne {
  top: -24.75vh;
  left: 0;
}

.wheelTwo {
  left: 32.06vh;
  top: 7.31vh;
}

.wheelThree {
  left: -24.75vh;
  top: 42.19vh;
}

.wheelFour {
  top: 71.44vh;
  left: 20.25vh;
}

.searchBox {
  position: absolute;
  left: 11.25vh;
  top: 43.88vh;
  width: 33.75vh;
  height: 5.06vh;
  border-radius:2.81vh;
  background-color: var(--color-bg-primary);
  border: 2px solid var(--color-text-secondary);
  color:  var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0 0;
  z-index: 1000;
}

.addressBar {
  background-color: var(--color-bg-primary) !important;
  font-family: 'Gluten', cursive;
  font-size: 0.7rem;
  color:  var(--color-text-secondary);
  height:3.38vh;
  border-radius: 2vh 0 0 2vh;
  border: none;
  width: 24.75vh;
  margin-left: 0.84vh;
  padding-left: 0.5rem;
  border-right: 2px solid var(--color-text-secondary);
}

.topTitle {
  position: absolute;
  font-family: 'Sue Ellen Francisco', cursive;
  width: 28.13vh;
  height: 13.5vh;
  top:-15.75vh;
  left: 28.13vh;
  margin: 0;
  color: var(--color-text-secondary);
}

.topTitle h1{
  font-size:3.38vh;
  font-weight: 300;
}

.sholderCard {
  position: absolute;
  width: 28.13vh;
  height: 13.5vh;
  padding: 0 0 0 13.5vh;
  border-radius: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--color-bg-primary);
  font-family: 'Gluten', cursive;
}

.sholderCard span {
  font-size: 0.7rem;
  font-weight: 300;
  margin: 0;
}

.rank {
  position: absolute;
  top: 10.13vh;
  left:1.12vh;
  width: 3.94vh;
  height: 3.94vh;
  border-radius:2.81vh;
  background-color: var(--color-bg-primary);
  border: 2px solid var(--color-text-secondary);
  font-family: 'Gluten', cursive;
  font-size: 0.7rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.sholderCard p {
  font-size: 0.7rem;
  font-weight: 300;
  margin: 0 0 0 0.5rem;
}

.rank p {
  margin: 0;
}

.sholderCard h1{
  font-size: 0.7rem;
  margin: 0.3rem 0 0 0.8rem;
}

.sholderCol {
  width: 14.63vh;
}

.sholderHolder {
  width: 13.5vh;
  height: 13.5vh;
  border-radius: 7vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.arrowHolder {
  position: absolute;
  width: 30.94vh;
  height: 30.94vh;
  top: 9vh;
  left: 9vh;
}

.arrows {
  transform: scaleY(-1) rotate(-5deg);
}
.counterArrows {
  transform: scaleY(-1) rotate(167.5deg);
}

.logoArrows {
  transform: scaleY(-1) rotate(-135deg);
}

.lastArrows {
  transform: rotate(120deg);
}

.counterArrowHolder {
  position: absolute;
  width: 30.94vh;
  height: 30.94vh;
  top: -21.38vh;
  left: 56.25vh;
}

.stepsBackward {
  position: absolute;
  transform: rotate(-45deg);
  height: calc(10.13vh + 1rem);
  top: 11.25vh;
  left: 11.25vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stepsForward {
  position: absolute;
    height: calc(10.13vh + 1rem);
    top: calc(10.41vh - 0.5rem);
    left: calc(15.47vh + 1rem);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.06vh;
  height: 5.06vh;
  border-radius: 3vh;
}

.step p {
font-size: 0.8rem;
font-weight: 600;
}

.step span {
margin-left: 0.1rem;
font-size: 0.7rem;
font-weight: 600;
text-align: center;
}

.logoHolder {
  position: absolute;
  width: 15.75vh;
  height: 15.75vh;
  top: 24.75;
  z-index: 1000;
  border-radius: 0 0 8vh 8vh;
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.navSliderFrame {
  position: absolute;
  top: 81.56vh;
  left: 51.19vh;
}