.container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    background-color: var(--color-bg-primary);
  }
  
  .landing {
    position: relative;
    background-color: var(--color-bg-primary);
    overflow: scroll;
  }
  
  .landing::-webkit-scrollbar {
    height: 0.125rem;
    width: 0.125rem;
  }
  
  .landing::-webkit-scrollbar-track {
    background: var(--color-bg-primary);
  }
  
  .landing::-webkit-scrollbar-thumb {
    background: var(--color-bg-primary);
    border-radius: 0.0625rem;
  }
  
  .wheelOne, .wheelTwo, .wheelThree, .wheelFour {
    position: absolute;
  }
  
  .wheelOne {
    top: -44vw;
    left: 0;
  }
  
  .wheelTwo {
    left: 57vw;
    top: 13vw;
  }
  
  .wheelThree {
    left: -44vw;
    top: 75vw;
  }
  
  .wheelFour {
    top: 127vw;
    left: 36vw;
  }

  .searchBox {
    position: absolute;
    left: 20vw;
    top: 78vw;
    width: 60vw;
    height: 9vw;
    border-radius: 5vw;
    background-color: var(--color-bg-primary);
    border: 2px solid var(--color-text-secondary);
    color:  var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 0;
    z-index: 1000;
  }

  .addressBar {
    background-color: var(--color-bg-primary) !important;
    font-family: 'Gluten', cursive;
    font-size: 0.7rem;
    color:  var(--color-text-secondary);
    height: 6vw;
    border-radius: 3vw 0 0 3vw;
    border: none;
    width: 44vw;
    margin-left: 1.5vw;
    padding-left: 0.5rem;
    border-right: 2px solid var(--color-text-secondary);
  }

  .topTitle {
    position: absolute;
    font-family: 'Sue Ellen Francisco', cursive;
    width: 50vw;
    height: 24vw;
    top:-28vw;
    left: 50vw;
    margin: 0;
    color: var(--color-text-secondary);
  }

  .topTitle h1{
    font-size: 6vw;
    font-weight: 300;
  }
  
  .sholderCard {
    position: absolute;
    width: 50vw;
    height: 24vw;
    padding: 0 0 0 24vw;
    border-radius: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--color-bg-primary);
    font-family: 'Gluten', cursive;
  }
  
.sholderCard span {
    font-size: 0.7rem;
    font-weight: 300;
    margin: 0;
}

.rank {
    position: absolute;
    top: 18vw;
    left: 2vw;
    width: 7vw;
    height: 7vw;
    border-radius: 5vw;
    background-color: var(--color-bg-primary);
    border: 2px solid var(--color-text-secondary);
    font-family: 'Gluten', cursive;
    font-size: 0.7rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.sholderCard p {
    font-size: 0.7rem;
    font-weight: 300;
    margin: 0 0 0 0.5rem;
}

.rank p {
    margin: 0;
}

  .sholderCard h1{
    font-size: 0.7rem;
    margin: 0.3rem 0 0 0.8rem;
  }

  .sholderCol {
    width: 26vw;
  }
  
  .sholderHolder {
    width: 24vw;
    height: 24vw;
    border-radius: 12vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .arrowHolder {
    position: absolute;
    width: 55vw;
    height: 55vw;
    top: 16vw;
    left: 16vw;
  }
  
  .arrows {
    transform: scaleY(-1) rotate(-5deg);
  }
  .counterArrows {
    transform: scaleY(-1) rotate(167.5deg);
  }

  .logoArrows {
    transform: scaleY(-1) rotate(-135deg);
  }

  .lastArrows {
    transform: rotate(120deg);
  }

  .counterArrowHolder {
    position: absolute;
    width: 55vw;
    height: 55vw;
    top: -38vw;
    left: 100vw;
  }

  .stepsBackward {
    position: absolute;
    transform: rotate(-45deg);
    height: calc(18vw + 1rem);
    top: 20vw;
    left: 20vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

  .stepsForward {
    position: absolute;
      height: calc(18vw + 1rem);
      top: calc(18.5vw - 0.5rem);
      left: calc(27.5vw + 1rem);
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 9vw;
    border-radius: 4.5vw;
}

.step p {
  font-size: 0.8rem;
  font-weight: 600;
}

.step span {
  margin-left: 0.1rem;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
}
  
  .logoHolder {
    position: absolute;
    width: 28vw;
    height: 28vw;
    top: 44vw;
    z-index: 1000;
    border-radius: 0 0 14vw 14vw;
    background-color: var(--color-bg-primary);
    overflow: hidden;
  }
  
  .navSliderFrame {
    position: absolute;
    top: 145vw;
    left: 91vw;
  }